<!DOCTYPE html>
<html>
<h3>Username: {{username}}</h3>
<table class="table table-striped table-bordered">
    <tr>
        <th colspan="3">
            Groups:
        </th>
    </tr>
    {{#each groups}} 
        <tr class="userGroup">
            <td><p class="groupId" data-name={{id}}>{{name}}</p></td>
            <td><a href='{{../username}}/group/{{id}}' class="btn btn-primary">Recipes</a></td>
        </tr>
    {{/each}}    
</table>

<button type="button" onclick="history.back();">Back</button>

</html>
